.custom {
    gap: 8px;
}

input[type="number"], .btn {
    max-width: 50px;
}

input[type=radio] {
    cursor: pointer;
    margin-right:4px;
}

input[type=radio]:disabled {
    cursor: not-allowed;
}

li {
    list-style-type: none;
    width: 94%;
    margin: auto;
}